/* JudgePower styleguide definitions */

:root {
    --main-bg-color: #3E444A;
    --main-text-color: #F5F5F5;

    --color-progress-bar: #658fc6;
    --color-progress-bar-tick: #3E444A;

    --color-1: #7654D3;
    --color-2: #FFFF7E;
    --color-3: #52D1C7;
    --color-4: #EA73B8;

    --color-positive: #95FFBE;
    --color-negative: #FF9595;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Muli', sans-serif;
    font-size: 1.5em;
    font-weight: 800;
}

@media all and (orientation:portrait) {
    h1 {
        font-size: 1.5em;
    }
}

b {
    font-weight: 900;
}

.main-logo {
    width: 14em;
}

.button-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
}

.judge-button {
    position: relative;
    vertical-align: middle;
    width: auto;
    height: auto;
    padding: 1em;
    padding-left: 3.5em;
    border-radius: 0.5em;
    background-image: linear-gradient(to right, transparent 25%, var(--color-1) 25%);
    /* workaround: z-index of button elements was fucked up -> transform fixes it for some reason */
    transform: scale(1);
}

.judge-button:after {
    position: absolute;
    display: inline-block;
    content: ' ';
    background-color: var(--color-1);
    background-image: url(../assets/img/gavel.svg);
    background-size: 2.25em;
    background-position: center;
    background-repeat: no-repeat;
    height: 4em;
    width: 4em;
    top: -0.5em;
    left: 0em;
    border-radius: 50%;
    vertical-align: middle;
    z-index: -1;
}

.scale {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.current-scale-value {
    font-size: 4em;
}

.progress {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.progress-control {
    height: 4em;
    width: 4em;
    padding: 0 0.5em;
}

.progress-control img {
    height: 100%;
}

.progress-bar-container {
    width: 100%;
    height: 2em;
    background-color: var(--main-text-color);
    border-style: solid;
    border-color: var(--main-text-color);
    border-width: 0.25em;
    border-radius: 0.5em;
}

.progress-bar {
    width: 0%;
    height: 2em;
    background-color: var(--color-progress-bar);
    border-radius: 0.5em;
    transition: 0.5s cubic-bezier(0, 1, 0.5, 1);
}

.step-container {
    display: flex;
}

.step {
    position: relative;
    top: -0.5em;
    width: 25%;
    height: 0.75em;
    border-right: 0.2em solid var(--color-progress-bar-tick);
    z-index: 2;
    display: block;
}

.step:last-of-type {
    border-right: 0;
}

.acce-1 {
    border-color: var(--color-1);
}

.acce-2 {
    border-color: var(--color-2);
}

.acce-3 {
    border-color: var(--color-3);
}

.acce-4 {
    border-color: var(--color-4);
}

.bgc-1 {
    background-color: var(--color-1);
}

.bgc-2 {
    background-color: var(--color-2);
}

.bgc-3 {
    background-color: var(--color-3);
}

.bgc-4 {
    background-color: var(--color-4);
}

.bgc-pos {
    background-color: var(--color-positive);
}

.bgc-neg {
    background-color: var(--color-negative);
}

.help-hint {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    padding: 0.25em 0.75em;
    margin: 1em;
    border-radius: 0.5em;
    font-size: 0.75em;
    background-color: rgba(0, 0, 0, 0.15);
}

.help-hint img {
    display: inline-block;
    box-sizing: border-box;
    height: 1em;
    margin: 0.5em 0.5em 0.5em 0;
}

.help-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 3em;
    padding-top: 23em;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.85);
    width: 100vw;
    height: 100vh;
    display: flex;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all cubic-bezier(0, 1, 0.5, 1) 0.4s;
}

.help-overlay-button-container {
    display: flex;
    flex-direction: row;
}

.help-overlay-button {
    font-size: 2em;
    font-weight: 900;
    color: #090A0B;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5em;
    width: 2em;
    height: 2em;
}

@keyframes hit {
    0% {
        transform: scale(1);
    }

    15% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

.selected {
    animation-name: hit;
    animation-iteration-count: 1;
    animation-duration: 1s;
}


/* load google fonts */

/* muli-regular - latin */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/muli-v12-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Muli Regular'), local('Muli-Regular'),
        /* IE6-IE8 */
        url('../assets/fonts/muli-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* Super Modern Browsers */
        url('../assets/fonts/muli-v12-latin-regular.woff2') format('woff2'),
        /* Modern Browsers */
        url('../assets/fonts/muli-v12-latin-regular.woff') format('woff'),
        /* Safari, Android, iOS */
        url('../assets/fonts/muli-v12-latin-regular.ttf') format('truetype'),
        /* Legacy iOS */
        url('../assets/fonts/muli-v12-latin-regular.svg#Muli') format('svg');
}

/* muli-bold - latin */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/muli-v12-latin-700.eot');
    /* IE9 Compat Modes */
    src: local('Muli Bold'), local('Muli-Bold'),
        /* IE6-IE8 */
        url('../assets/fonts/muli-v12-latin-700.eot?#iefix') format('embedded-opentype'),
        /* Super Modern Browsers */
        url('../assets/fonts/muli-v12-latin-700.woff2') format('woff2'),
        /* Modern Browsers */
        url('../assets/fonts/muli-v12-latin-700.woff') format('woff'),
        /* Safari, Android, iOS */
        url('../assets/fonts/muli-v12-latin-700.ttf') format('truetype'),
        /* Legacy iOS */
        url('../assets/fonts/muli-v12-latin-700.svg#Muli') format('svg');
}

/* muli-extrabold - latin */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 800;
    src: url('../assets/fonts/muli-v12-latin-800.eot');
    /* IE9 Compat Modes */
    src: local('Muli ExtraBold'), local('Muli-ExtraBold'),
        /* IE6-IE8 */
        url('../assets/fonts/muli-v12-latin-800.eot?#iefix') format('embedded-opentype'),
        /* Super Modern Browsers */
        url('../assets/fonts/muli-v12-latin-800.woff2') format('woff2'),
        /* Modern Browsers */
        url('../assets/fonts/muli-v12-latin-800.woff') format('woff'),
        /* Safari, Android, iOS */
        url('../assets/fonts/muli-v12-latin-800.ttf') format('truetype'),
        /* Legacy iOS */
        url('../assets/fonts/muli-v12-latin-800.svg#Muli') format('svg');
}

/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/lato-v14-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Lato Regular'), local('Lato-Regular'),
        /* IE6-IE8 */
        url('../assets/fonts/lato-v14-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* Super Modern Browsers */
        url('../assets/fonts/lato-v14-latin-regular.woff2') format('woff2'),
        /* Modern Browsers */
        url('../assets/fonts/lato-v14-latin-regular.woff') format('woff'),
        /* Safari, Android, iOS */
        url('../assets/fonts/lato-v14-latin-regular.ttf') format('truetype'),
        /* Legacy iOS */
        url('../assets/fonts/lato-v14-latin-regular.svg#Lato') format('svg');
}

/* lato-italic - latin */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: url('../assets/fonts/lato-v14-latin-italic.eot');
    /* IE9 Compat Modes */
    src: local('Lato Italic'), local('Lato-Italic'),
        /* IE6-IE8 */
        url('../assets/fonts/lato-v14-latin-italic.eot?#iefix') format('embedded-opentype'),
        /* Super Modern Browsers */
        url('../assets/fonts/lato-v14-latin-italic.woff2') format('woff2'),
        /* Modern Browsers */
        url('../assets/fonts/lato-v14-latin-italic.woff') format('woff'),
        /* Safari, Android, iOS */
        url('../assets/fonts/lato-v14-latin-italic.ttf') format('truetype'),
        /* Legacy iOS */
        url('../assets/fonts/lato-v14-latin-italic.svg#Lato') format('svg');
}

/* lato-black - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../assets/fonts/lato-v14-latin-900.eot');
    /* IE9 Compat Modes */
    src: local('Lato Black'), local('Lato-Black'),
        /* IE6-IE8 */
        url('../assets/fonts/lato-v14-latin-900.eot?#iefix') format('embedded-opentype'),
        /* Super Modern Browsers */
        url('../assets/fonts/lato-v14-latin-900.woff2') format('woff2'),
        /* Modern Browsers */
        url('../assets/fonts/lato-v14-latin-900.woff') format('woff'),
        /* Safari, Android, iOS */
        url('../assets/fonts/lato-v14-latin-900.ttf') format('truetype'),
        /* Legacy iOS */
        url('../assets/fonts/lato-v14-latin-900.svg#Lato') format('svg');
}